/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: black;
}

input {
  outline: none;
}

ul {
  list-style-type: none;
}

/* End of Reset Styles */
.container {
  margin: 0 auto;
  width: 1000px;
  padding: 96px 98px 514px;
  text-align: center;
}

.error {
  color: red;
  font-weight: 700;
  padding-bottom: 30px;
}

.alertStyle {
  color: lightseagreen;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

.todo_add_block {
  text-align: center;
  margin-top: 30px;
}

.title {
  display: block;
  font-size: 25px;
  line-height: 18px;
  color: black;
  font-weight: 600;
  user-select: none;
  margin-bottom: 40px;
}

/* Custom input */
.custom-input {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid #666666;
  border-radius: 10px;
}

.input-wrap {
  display: flex;
}

.input-wrap .book-icon {
  display: block;
  height: 56px;
  width: 56px;
  background: url('./img/book.png') center center no-repeat;
}

.input-wrap .label-elem {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  padding: 16px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #CCCCCC, #CCCCCC);
  border: 1px solid #CCCCCC;
  position: relative;
  text-align: left;
}

.input-wrap .label-elem:hover {
  border: 2px solid #7A5CFA;
}

.input-wrap .label-elem #input-text {
  position: absolute;
  max-width: 532px;
  width: 100%;
  height: 24px;
  border: none;
}

.input-wrap .label-elem #input-text::placeholder {
  line-height: 24px;
  color: #666666;
  transition: all 200ms ease-in-out;
}

.custom-input button {
  height: 56px;
  border-radius: 8px;
  padding: 16px;
  Gap: 10px;
  color: #7A5CFA;
  border: 1px solid lightseagreen;
  text-align: center;
  background-color: lightseagreen;
  color: white;
  margin-top: 20px;
}

/* End of Custom Input */
/* TODO List*/
.todoList-block {
  text-align: left;
}

.todoList {
  margin-top: 50px;
}

.list {
  margin-top: 50px;
}

.list-item {
  font-weight: 700;
  height: 50px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 20px 0px 40px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: -8px;
}

.delete-icon {
  display: block;
  background: url('./img/delete-3.png') center center no-repeat;
  height: 28px;
  width: 60px;
  margin-right: 40px;

}

.edit-btn {
  width: 60px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid lightseagreen;
  background: lightseagreen;
  color: white;
}

.label {
  display: flex;
  align-items: center;
  margin: 15px 0px 0px 15px;
}

.done-element {
  display: none;
}

.done-element:checked {
  display: none;
}

.checkmark {
  width: 50px;
  height: 30px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  margin-right: 16px;
}

.done-element:checked ~ .checkmark {
  display: block;
  background: #FFFFFF url('./img/checkmark.png') center center/contain no-repeat;
}

.clear-btn-wrap {
  text-align: right;
  margin-top: 80px;
}

.clear-all {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightseagreen;
  background: lightseagreen;
  color: white;
}

/* The end of TODO List*/
